.character-wrapper {
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: #3e749ea2;
	border: #7375779a 1px solid;
	margin: 10px 10px;
	padding: 20px;
	border-radius: 10px;
	font-family: arial, Helvetica, sans-serif;

	p,
	h2 {
		color: #fff;
	}

	.cw-img {
		width: 40%;
	}
}
